.CompanyData {
  width: 80%;
  background-color: #ffffff;
  box-shadow: 11px 14px 30px -5px #c2c2c2;
  border-radius: 20px;
  width: 130vh;
  height: auto;
  margin: 20px auto;
  padding: 20px;
}

.CompanyData_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px
}

.CompanyData_header header {
  font-size: 25px;
}

.CompanyData_content {
  justify-content:right;
  gap: 20px;
}

.post {
  width: 120vh;
}
