.lp-container {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.main-section {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 32%,
    rgba(153, 218, 255, 1)
  );
}

.left-container {
  width: 50%;
  padding: 0 20px;
}

.left-container img {
  width: 50%;
  margin-left: 120px;
}

.right-container {
  width: 50%;
  padding: 0 20px;
}

.main-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.features-section {
  padding: 50px 20px;
}

.features {
  display: flex;
  justify-content: center;
}

.feature {
  width: 30%;
  border-radius: 50%;
  background-color: #7fd0ff;
  margin: 20px;
  padding: 50px;
  text-align: center;
  align-items: center;
  box-shadow: 6px 4px 11px -2px #b8b8b8;
}

.icon {
  font-size: 50px;
  color: #fff;
  margin: 30px;
}

.testimonials-section {
  padding: 50px 20px;
  background-image: linear-gradient(
    90deg,
    rgba(92, 196, 255, 1),
    rgba(255, 255, 255, 1)
  );
}

.testimonials-section {
  text-align: center;
}

.testimonials-section h2 {
  margin-bottom: 30px;
}

.features-section h2,
.testimonials-section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.feature,
blockquote {
  margin-bottom: 30px;
  text-align: center;
}

footer {
  background-image: linear-gradient(
    90deg,
    rgba(117, 146, 175, 1),
    rgba(2, 83, 129, 1)
  );
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer li {
  display: inline;
  margin-right: 20px;
}

footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
