* {
  margin: 0;
  padding: 0;
  font-family: YuGothic,'Yu Gothic',sans-serif;
}

button {
  color: #6a6a6a;
  border: none;
  background-color: #efefef;
  box-shadow: 0px 0px 15px -5px #c8c8c8;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #cbcbcb;
}

.main-content {
  display: flex;
}
